table{
  border: 2px solid black;
  border-radius: 5px;
}

.summary-list {
  display: flex;
  align-items: center;  
  flex-direction: column;
  gap: 12px;
}

.summary-card {
    width: 185px;
    height: 150px;
}

.chart-container {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto; // centraliza, se quiser
}