.home-header{
    border: 2px solid rgb(46, 45, 45);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(53, 52, 52);
}

.home-body{
    margin-top: 10px; 
    border: 2px solid rgb(46, 45, 45);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(53, 52, 52);
}

.footer-body{        
    margin-top: 10px; 
    margin-bottom: 10px;
    border: 2px solid rgb(46, 45, 45);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(53, 52, 52);
}

h3 {
  margin: 0;
}